@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

$body-font: "Quicksand", sans-serif;
body {
  font-family: $body-font;
}
header {
  background-color: red;
}
